In [13]:
from statsmodels.discrete.discrete_model import Logit
import pandas as pd 
from patsy import dmatrices

In [29]:
raw_data = pd.read_csv('data/ReplayCharacters 2015-05-14 - 2015-05-24.csv')

In [30]:
raw_data.head()

   ReplayID Is Auto Select      Hero  Hero Level Is Winner  MMR Before
0  23915730          False    Rehgar          14     False        3170
1  23915730          False   Falstad          10     False        3330
2  23915730          False     Jaina           7      True        3442
3  23915730          False  Sylvanas          13     False        2666
4  23915730          False    Zagara          10      True        3198

In [31]:
raw_data['present'] = 1

did_win = raw_data['Is Winner'] == True
winners = raw_data.ix[did_win]
losers = raw_data.ix[~did_win]

In [32]:
winners = winners.set_index(['ReplayID', 'Hero'])['present'].unstack().fillna(0)
losers = losers.set_index(['ReplayID', 'Hero'])['present'].unstack().fillna(0)

In [33]:
winners.head(1)

Hero,Abathur,Anub'arak,Arthas,Azmodan,Brightwing,Chen,Diablo,E.T.C.,Falstad,Gazlowe,...,Tassadar,The Lost Vikings,Thrall,Tychus,Tyrael,Tyrande,Uther,Valla,Zagara,Zeratul
ReplayID,,,,,,,,,,,,,,,,,,,,,
20653762,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [34]:
winners['outcome'] = 1
losers['outcome'] = 0 
teams = pd.concat([winners, losers])

In [35]:
teams.shape

(1120496, 37)

In [36]:
formula =  "outcome ~ " +  ' + '.join(map(lambda s: 'Q("%s")'%s.strip(), winners.columns - ['outcome'])) + " -1 "
print formula

outcome ~ Q("Abathur") + Q("Anub'arak") + Q("Arthas") + Q("Azmodan") + Q("Brightwing") + Q("Chen") + Q("Diablo") + Q("E.T.C.") + Q("Falstad") + Q("Gazlowe") + Q("Illidan") + Q("Jaina") + Q("Kael'thas") + Q("Kerrigan") + Q("Li Li") + Q("Malfurion") + Q("Muradin") + Q("Murky") + Q("Nazeebo") + Q("Nova") + Q("Raynor") + Q("Rehgar") + Q("Sgt. Hammer") + Q("Sonya") + Q("Stitches") + Q("Sylvanas") + Q("Tassadar") + Q("The Lost Vikings") + Q("Thrall") + Q("Tychus") + Q("Tyrael") + Q("Tyrande") + Q("Uther") + Q("Valla") + Q("Zagara") + Q("Zeratul") -1

/Users/camerondavidson-pilon/.virtualenvs/data/lib/python2.7/site-packages/IPython/kernel/__main__.py:1: FutureWarning: using '-' to provide set differences with Indexes is deprecated, use .difference()
  if __name__ == '__main__':

In [37]:
y, X = dmatrices(formula, teams, return_type='dataframe')

In [39]:
lg = Logit(y, X)
model = lg.fit()

Optimization terminated successfully.
         Current function value: 0.683611
         Iterations 4
                            Results: Logit
======================================================================
Model:               Logit             Pseudo R-squared:  0.014
Dependent Variable:  outcome           AIC:               1532038.8123
Date:                2016-01-10 20:39  BIC:               1532468.2664
No. Observations:    1120496           Log-Likelihood:    -7.6598e+05
Df Model:            35                LL-Null:           -7.7667e+05
Df Residuals:        1120460           LLR p-value:       0.0000
Converged:           1.0000            Scale:             1.0000
No. Iterations:      4.0000
----------------------------------------------------------------------
                       Coef.  Std.Err.    z     P>|z|   [0.025  0.975]
----------------------------------------------------------------------
Q("Abathur")          -0.2089   0.0066 -31.5056 0.0000 -0.2219 -0.1959
Q("Anub'arak")         0.2695   0.0048  56.0010 0.0000  0.2600  0.2789
Q("Arthas")           -0.1053   0.0088 -12.0008 0.0000 -0.1225 -0.0881
Q("Azmodan")           0.1284   0.0082  15.7505 0.0000  0.1124  0.1444
Q("Brightwing")        0.1581   0.0048  33.1691 0.0000  0.1488  0.1674
Q("Chen")             -0.0958   0.0123  -7.8071 0.0000 -0.1198 -0.0717
Q("Diablo")           -0.2062   0.0062 -33.1682 0.0000 -0.2184 -0.1940
Q("E.T.C.")           -0.1780   0.0049 -36.5220 0.0000 -0.1876 -0.1685
Q("Falstad")          -0.0094   0.0072  -1.3179 0.1875 -0.0235  0.0046
Q("Gazlowe")           0.0291   0.0075   3.8914 0.0001  0.0145  0.0438
Q("Illidan")           0.0027   0.0048   0.5658 0.5715 -0.0067  0.0121
Q("Jaina")             0.1181   0.0039  30.0013 0.0000  0.1103  0.1258
Q("Kael'thas")         0.0582   0.0041  14.2854 0.0000  0.0502  0.0662
Q("Kerrigan")         -0.1366   0.0059 -23.1258 0.0000 -0.1482 -0.1251
Q("Li Li")             0.1529   0.0047  32.7087 0.0000  0.1438  0.1621
Q("Malfurion")        -0.1319   0.0063 -20.9361 0.0000 -0.1443 -0.1196
Q("Muradin")          -0.1240   0.0051 -24.2915 0.0000 -0.1340 -0.1140
Q("Murky")             0.2152   0.0091  23.6158 0.0000  0.1974  0.2331
Q("Nazeebo")           0.1186   0.0054  21.8567 0.0000  0.1080  0.1293
Q("Nova")              0.0429   0.0048   9.0260 0.0000  0.0336  0.0522
Q("Raynor")           -0.0973   0.0049 -19.9204 0.0000 -0.1069 -0.0877
Q("Rehgar")           -0.0184   0.0064  -2.8529 0.0043 -0.0310 -0.0057
Q("Sgt. Hammer")      -0.1526   0.0055 -27.7344 0.0000 -0.1634 -0.1418
Q("Sonya")            -0.2421   0.0055 -44.2605 0.0000 -0.2528 -0.2314
Q("Stitches")         -0.3572   0.0083 -42.9478 0.0000 -0.3735 -0.3409
Q("Sylvanas")          0.0851   0.0044  19.3391 0.0000  0.0765  0.0938
Q("Tassadar")         -0.2302   0.0064 -36.1366 0.0000 -0.2427 -0.2178
Q("The Lost Vikings")  0.1530   0.0068  22.4048 0.0000  0.1397  0.1664
Q("Thrall")            0.0742   0.0053  13.9398 0.0000  0.0638  0.0846
Q("Tychus")           -0.1196   0.0065 -18.4373 0.0000 -0.1323 -0.1069
Q("Tyrael")            0.0621   0.0072   8.6215 0.0000  0.0480  0.0763
Q("Tyrande")          -0.0648   0.0071  -9.0938 0.0000 -0.0788 -0.0508
Q("Uther")             0.0100   0.0054   1.8459 0.0649 -0.0006  0.0207
Q("Valla")            -0.0194   0.0039  -4.9202 0.0000 -0.0271 -0.0117
Q("Zagara")            0.0422   0.0059   7.1292 0.0000  0.0306  0.0539
Q("Zeratul")          -0.0121   0.0060  -2.0247 0.0429 -0.0238 -0.0004
======================================================================

In [44]:
from sklearn.linear_model import LogisticRegression

In [53]:
lg = LogisticRegression()
lg.fit(X,y)

/Users/camerondavidson-pilon/.virtualenvs/data/lib/python2.7/site-packages/sklearn/utils/validation.py:449: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr',
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0)

In [54]:
lg.coef_

array([[-0.196 ,  0.2824, -0.0923,  0.1414,  0.171 , -0.0828, -0.1933,
        -0.1651,  0.0035,  0.0421,  0.0157,  0.131 ,  0.0711, -0.1237,
         0.1658, -0.119 , -0.1111,  0.2281,  0.1315,  0.0559, -0.0843,
        -0.0054, -0.1397, -0.2291, -0.3443,  0.0981, -0.2173,  0.166 ,
         0.0871, -0.1066,  0.0751, -0.0519,  0.023 , -0.0065,  0.0552,
         0.0008]])

In [57]:
from sklearn.cross_validation import cross_val_score

In [67]:
cross_val_score(lg, X.values, y.values[:,0], cv=10)

array([ 0.5521,  0.5563,  0.5574,  0.5608,  0.5581,  0.5545,  0.5539,
        0.551 ,  0.5545,  0.5532])